/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #f4af73, #e76e55);
    padding: 10px 30px;
    height: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    position: relative;
}

.headerAzul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #0097b2, #86d4b0);
    padding: 10px 30px;
    height: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    position: relative;
}

/* Body de cada pantalla */
.login {
    font-family: 'Gelasio', serif;
    background-color: #f4af738f;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('../img/rojoAnimado.png'), url('../img/logIn.png'), url('../img/ondaRoja.png');
    background-size: 25%, 35%, 100%;
    background-position: bottom right, 105% 110px, top;
    background-repeat: no-repeat;
    font-size: 15px;
}

.signup {
    font-family: 'Gelasio', serif;
    background-color: #f4af738f;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('../img/ondaRoja.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 15px;
}

.recuperar {
    font-family: 'Gelasio', serif;
    background-color: #79c3ac68;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('../img/azulAnimado.png'), url('../img/recuperar.png'), url('../img/ondaAzul.png');
    background-size: 25%, 35%, 100%;
    background-position: bottom left, 5% 100px, top;
    background-repeat: no-repeat;
    font-size: 15px;
}

.inicio {
    font-family: 'Gelasio', serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    background-image: url('../img/ondaAzulAbajo.png'), url('../img/ondaRoja.png');
    background-size: 100%;
    background-position: bottom, top;
    background-repeat: no-repeat;
    font-size: 15px;
    min-height: 100vh;
}

.perfil {
    font-family: 'Gelasio', serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    background-image: url('../img/ondaAzulAbajo.png');
    background-size: 100%;
    background-position: bottom, top;
    background-repeat: no-repeat;
    font-size: 15px;
    min-height: 100vh;
}

.editar {
    font-family: 'Gelasio', serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('../img/ondaRoja.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 15px;
}

/* Contenedores principales */
.containerLogIn {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    display: flex;
    margin: auto 150px;
}

.containerSignUp {
    width: 100%;
    max-width: 2000px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    display: flex;
    margin: auto 40px auto 40px;
}

.containerRecuperar {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    display: flex;
    margin: auto 40px auto 680px;
}

.containerInicio {
    width: 100%;
    max-width: 2000px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    display: flex;
    margin: auto 60px auto 60px;
    margin-top: 60px;
    flex-direction: column;
}

.containerPerfil {
    width: 100%;
    max-width: 1300px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    display: flex;
    margin: auto 60px auto 60px;
    margin-top: 60px;
    flex-direction: column;
    min-height: 600px;
}

.containerEditar {
    width: 100%;
    max-width: 1300px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    display: flex;
    margin: auto 60px auto 60px;
    margin-top: 60px;
    flex-direction: column;
    min-height: 600px;
}

/* Cajas de contenido */
.login-box {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.signup-box {
    width: 100%;
    padding: 20px;
    text-align: left;
}

.recuperar-box {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.hero-text {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.hero-form {
    width: 100%;
    padding: 20px;
    margin-right: 80px;
    margin-left: 40px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    border-radius: 20px;
}

.about-luisa-content {
    width: 90%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.328);
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
    overflow: hidden;
}

.informacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.about-luisa-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloPerfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.profile-info {
    padding: 20px;
    font-family: 'Gelasio', serif;
    font-size: 20px;
    text-align: left;
}

/* Títulos */
.login-box h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 60px;
    color: #E55551;
    margin-bottom: 10px;
    text-align: center;
}

.signup-box h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 60px;
    color: #E55551;
    margin-bottom: 40px;
    text-align: center;
}

.recuperar-box h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 60px;
    color: #25A6B3;
    margin-bottom: 10px;
    text-align: center;
}

.containerInicio h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 80px;
    color: #E55551;
    margin-bottom: 10px;
    text-align: center;
}

.informacion h3 {
    font-family: 'Gelasio', serif;
    font-size: 30px;
    margin: 30px 20px 30px 15px;
    text-align: center;
}

.about-luisa-content h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 50px;
    color: #25A6B3;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 50px;
}

.about-luisa-details h3 {
    font-size: 25px;
    color: #000000;
    text-align: center;
    font-weight: normal
}

.containerPerfil h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 50px;
    color: #25A6B3;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 30px;
}

.perfil-header h2 {
    margin: 0;
    font-family: 'Antonio', sans-serif;
    font-size: 50px;
    color: #25A6B3;
}

.containerEditar h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 50px;
    color: #E55551;
    text-align: center;
    margin-bottom: 60px;
}

/* Párrafos e imágenes*/
.login-box p {
    text-align: center;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, 0.409);
    position: relative;
    font-family: 'Gelasio', serif;
    font-size: 18px;
}

.recuperar-box p {
    text-align: center;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, 0.409);
    position: relative;
    font-family: 'Gelasio', serif;
    font-size: 18px;
}

.containerInicio p {
    text-align: center;
    margin-bottom: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Gelasio', serif;
    font-size: 23px;
}

.containerInicio span {
    color: rgb(0, 0, 0);
    font-family: 'Gelasio', serif;
    font-size: 23px;
    font-weight: bold;
    display: inline;
    font-style: italic;
}

.informacion p {
    text-align: center;
    margin: 10px 40px 10px 40px;
    color: rgb(0, 0, 0);
    position: relative;
    font-family: 'Gelasio', serif;
    font-size: 18px;
}

.about-luisa-content img {
    border-radius: 10%;
    float: left;
    width: 250px;
    height: auto;
    margin-left: 65px;
}

.containerPerfil img {
    position: absolute;
    top: 470px;
    right: 140px;
    width: 250px;
    height: auto;
}

span {
    display: block;
    text-align: center;
    margin: 0px auto 20px auto;
    color: rgb(0, 0, 0);
    position: relative;
    font-family: 'Gelasio', serif;
    font-size: 18px;
}

.about-luisa-details p {
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin: 0 150px 20px 150px;
}

.profile-info p {
    margin-bottom: 30px;
    display: block;
    margin-left: 10px;
}

.profile-info span {
    font-weight: bold;
    color: #25A6B3;
    margin-right: 10px;
    display: inline-block;
    text-align: left;
    font-size: 23px;
}

/* Línea después del texto */
.login-box p::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e74d3c4b;
    margin: 15px auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.recuperar-box p::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #0097B2;
    margin: 15px auto 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos de formularios */
.formRojo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 40px;
}

.formAzul form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 40px;
}

.hero-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.form-profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    margin: 40px;
}

.form-profile label {
    font-family: 'Gelasio', serif;
    margin-bottom: 5px;
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
}

/* Inputs del formulario */
.login-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #fbc76878, #ea332d70) border-box;
    border: 2px solid transparent;
}

.input-group input {
    width: 30%;
    padding: 15px;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #fbc76878, #ea332d70) border-box;
    border: 2px solid transparent;
}

.input-group-full input {
    width: 70%;
    padding: 15px;
    margin: 0 10px 20px 10px;
    border-radius: 5px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #fbc76878, #ea332d70) border-box;
    border: 2px solid transparent;
}

.recuperar-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #0097b27f, #86d4b07f) border-box;
    border: 2px solid transparent;
}

.hero-form input {
    width: 100%;
    padding: 15px;
    margin: 0 10px 20px 10px;
    border-radius: 5px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #fbc76878, #ea332d70) border-box;
    border: 2px solid transparent;
}

.form-profile input {
    width: 70%;
    padding: 15px;
    margin: 0 10px 20px 10px;
    border-radius: 5px;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #fbc76878, #ea332d70) border-box;
    border: 2px solid transparent;
    display: inline-block;
}

/* Estilos para el placeholder del input*/
.login-box input::placeholder {
    font-family: 'Gelasio', serif;
    color: rgba(0, 0, 0, 0.161);
    font-size: 15px;
}

.signup-box input::placeholder {
    font-family: 'Gelasio', serif;
    color: rgba(0, 0, 0, 0.161);
    font-size: 15px;
}

.recuperar-box input::placeholder {
    font-family: 'Gelasio', serif;
    color: rgba(0, 0, 0, 0.161);
    font-size: 15px;
}

.hero-form input::placeholder {
    font-family: 'Gelasio', serif;
    color: rgba(0, 0, 0, 0.161);
    font-size: 15px;
}

.form-profile input::placeholder {
    font-family: 'Gelasio', serif;
    color: rgba(0, 0, 0, 0.161);
    font-size: 15px;
}

/* Botones */
.formRojo button {
    width: 30%;
    padding: 15px;
    background-color: #E16662;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.409);
    font-family: 'Gelasio', serif;
    font-size: 16px;
    display: block;
    text-align: center;
}

.formRojo button:hover {
    background-color: #c0392b;
}

.formAzul button {
    width: 30%;
    padding: 15px;
    background-color: #25A6B3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.409);
    font-family: 'Gelasio', serif;
    font-size: 16px;
    display: block;
    text-align: center;
}

.formAzul button:hover {
    background-color: #177078;
}

.back-btn {
    width: 20%;
    padding: 8px;
    background-color: #25A6B3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px auto 50px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.409);
    font-family: 'Gelasio', serif;
    font-size: 16px;
    text-align: center;
    display: block;
}

.back-btn:hover {
    background-color: #177078;
}

.back-btn-Rojo {
    width: 10%;
    padding: 8px;
    background-color: #E16662;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px auto 50px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.409);
    font-family: 'Gelasio', serif;
    font-size: 16px;
    text-align: center;
    display: block;
}

.back-btn-Rojo:hover {
    background-color: #c0392b;
}

.edit-btn {
    width: 10%;
    padding: 10px;
    background-color: #25A6B3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.409);
    font-family: 'Gelasio', serif;
    font-size: 16px;
    text-align: center;
    display: block;
    float: right;
}

.edit-btn:hover {
    background-color: #177078;
}

.hero-form button {
    width: 80%;
    padding: 15px;
    background-color: #E16662;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.409);
    font-family: 'Gelasio', serif;
    font-size: 16px;
    display: block;
    text-align: center;
}

.formRojo button:hover {
    background-color: #c0392b;
}

.login-btn {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Antonio', sans-serif;
    font-size: 16px;
}

.save-btn {
    width: 20%;
    padding: 10px;
    background-color: #E16662;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.409);
    font-family: 'Gelasio', serif;
    font-size: 16px;
    text-align: center;
    display: block;
    float: right;
    margin-top: 50px;
}

.save-btn:hover {
    background-color: #c0392b;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-btn img {
    width: 30px;
    height: auto;
}

.menu-btn:hover img {
    opacity: 0.8;
}

.about-luisa-details a {
    color: #25A6B3;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gelasio', serif;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.about-luisa-details a:hover {
    color: #177078;
    text-decoration: underline;
    cursor: pointer;
}

/* Enlaces */
.links {
    margin-top: 30px;
    font-size: 18px;
    text-align: left;
    font-family: 'Gelasio', serif;
}

.links a {
    display: block;
    margin-bottom: 10px;
    color: #E55551;
    text-decoration: none;
}

/*Pruebas*/
