/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #F4AF73;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    width: 30%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos de cabecera */
header {
    background-color: #ff8800;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Animación para la caja movible */
.caja-movible {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: mover 3s infinite alternate;
}

@keyframes mover {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(20px);
    }
}

/* Caja de contenido */
.caja {
    width: 45%;
    padding: 10px;
    text-align: center;
}

.caja img {
    max-width: 100%;
    border-radius: 50%;
}

.foto-nombre h2 {
    margin-top: 10px;
}

/* Estilos de los formularios de inicio de sesión y registro */
.login-box, .signup-box {
    width: 60%; /* Reduce el ancho de la caja */
    padding: 20px;
    text-align: center;
    margin-left: 0; /* Alinea la caja hacia la izquierda */
}

.login-box h1, .signup-box h1 {
    font-size: 2rem;
    color: #e74c3c;
    margin-bottom: 20px;
}

/* Estilos de formularios */
.login-box form, .signup-box form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group input {
    width: 48%;
}

.signup-box input, .login-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Botones */
.signup-box button, .login-box button {
    width: 100%;
    padding: 15px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.signup-box button:hover, .login-box button:hover {
    background-color: #c0392b;
}

/* Enlaces */
.links {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: left;  /* Alinea los enlaces a la izquierda */
}

.links a {
    color: #e74c3c;
    text-decoration: none;
    display: block;  /* Hace que los enlaces aparezcan uno debajo del otro */
    margin-bottom: 10px;
}

/* Estilos específicos para las imágenes de perfil o ilustraciones */
.datos-perfil img {
    max-width: 50%;
    margin-top: 20px;
}