<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/IntroActividades.css">
    <title>Present Simple</title>
</head>
<body>
    <div class="background">
        <h1 class="page-title"> PRESENT SIMPLE</h1>
        <div class="container">
            <div class="card">
                <h2>Titulo</h2>
                <hr>
                <p>
                    Explicación explicación explicación explicación explicación explicación explicación explicación explicación...
                </p>
            </div>
            <div class="card">
                <h2>Ejemplos</h2>
                <hr>
                <p>
                    Ejemplos
                </p>
            </div>
        </div>
        <button class="next-button" style="position: absolute; top: 600px; left: 1100px;" onclick="window.location.href='PreguntaActividades.html';">Next</button>
    </div>
</body>

</html>