<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/PreguntaActividades.css">
    <title>Present Simple</title>
</head>
<body>
    <h1 class="page-title-red">PRESENT SIMPLE</h1>
        <div class="container" margin-top: 50px>
            <div class="card">
                <h2>Selecciona la respuesta correcta</h2>
                <hr>
                <p>
                    Elige la opción correcta para completar la oración:
                </p>
                <div class="options">
                    <label>
                        <input type="radio" name="answer" value="1">
                        Opción A
                    </label>
                    <label>
                        <input type="radio" name="answer" value="2">
                        Opción B
                    </label>
                    <label>
                        <input type="radio" name="answer" value="3">
                        Opción C
                    </label>
                </div>
                
            </div>
        </div>
        <button class="next-button" style="position: absolute; top: 600px; left: 1100px;" onclick="window.location.href='PreguntaActividades.html';">Next</button>
        <div class="progress-dots">
            <span class="dot active"></span>
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
</body>

</html>