<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/actividades.css">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Gelasio:wght@400;700&display=swap" rel="stylesheet">
    <title>Present Simple</title>
    <script src="/assets/js/aprendizaje.js"></script>
</head>
<body>
    <div class="background-basico">
        <div class="card-actividad">
            <div class="column column-left">
                <h2>Título de la Actividad</h2> <br> <br>
                <hr class="separator">
                <p>Answer all the questions. <br> Remember to give your best and enjoy the learning process! </p>
            </div>
            <div class="column column-right">
                <img src="../../assets/img/imgActividades.PNG" class="imagen-actividad" alt="Imagen descriptiva" style="max-width: 100%; border-radius: 10px;">
            </div>
        </div>
        
        <div class="card">
            <h2>Selecciona la respuesta correcta</h2>
            <hr> <br>
            <div class="options">
                <input type="radio" id="option1" name="answer" value="1">
                <label for="option1">Opción A</label>
            
                <input type="radio" id="option2" name="answer" value="2">
                <label for="option2">Opción B</label>
            
                <input type="radio" id="option3" name="answer" value="3">
                <label for="option3">Opción C</label>
            </div>    
        </div>
        <button class="publicar-button" onclick="window.location.href='notaActividad.html';">Enviar</button>
    </div>
</body>
</html>
