<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Activities Grades</title>
    <link rel="stylesheet" href="../../assets/css/actividades.css">
</head>

<body>
    <header class="headerAzul">
        <button class="menu-btn" onclick="window.location.href='#';">
            <img src="../../assets/img/menu.png" alt="Button Menu">
        </button>
        <img src="../../assets/img/perfil.png" alt="Perfil">
    </header>
 
    <div class="background">

        <div class="title-container">
            <h1 class="page-title">ACTIVITIES GRADES</h1>
        </div>

        <hr class="title-hr">        

        <div class="list-container">
            <div class="list-item">Tema 1</div>
            <div class="list-item">Tema 2</div>
            <div class="list-item">Tema 3</div>
            <div class="list-item">Tema 4</div>
            <div class="list-item">Tema 5</div>
        </div>

        <div class="button-container">
            <button class="back-button" onclick="window.location.href='actividades.html';">Back</button>
            
        </div>
        
    </div>


</body>