<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Activities</title>
    <link rel="stylesheet" href="../../assets/css/actividades.css">
</head>

<body>
    <header class="headerAzul">
        <button class="menu-btn" onclick="window.location.href='#';">
            <img src="../../assets/img/menu.png" alt="Button Menu">
        </button>
        <img src="../../assets/img/perfil.png" alt="Perfil">
    </header>
 
    <div class="background">

        <div class="title-container">
            <h1 class="page-title">ACTIVITIES</h1>
            <button class="grades-button" onclick="window.location.href='activitiesGrades.html';">Grades</button>
        </div>

        <hr class="title-hr">        

        <div class="activities-container">
            <div class="activity-box" onclick="window.location.href='IntroActividades.html';" style="cursor: pointer;">
                <p>Tema 1</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
            <div class="activity-box" onclick="window.location.href='IntroActividades.html';" style="cursor: pointer;">
                <p>Tema 2</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
            <div class="activity-box" onclick="window.location.href='IntroActividades.html';" style="cursor: pointer;">
                <p>Tema 3</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
            <div class="activity-box" onclick="window.location.href='IntroActividades.html';" style="cursor: pointer;">
                <p>Tema 4</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
        </div>

        <div class="button-container">
            <button class="back-button" >Back</button>
        </div>
        
    </div>


</body>

</html>