<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/actividades.css">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Gelasio:wght@400;700&display=swap" rel="stylesheet">
    <title>Present Simple</title>
</head>
<body>
    <div class="background">
        <div class="title-container">
            <h1 class="page-title-red"> PRESENT SIMPLE</h1>
        </div>
        <hr class="title-hr"> 
        <div class="card">
            <h2>Selecciona la respuesta correcta</h2>
            <hr>
            <p>Elige la opción correcta para completar la oración:</p>
            <div class="options">
                <input type="radio" id="option1" name="answer" value="1">
                <label for="option1">Opción A</label>
            
                <input type="radio" id="option2" name="answer" value="2">
                <label for="option2">Opción B</label>
            
                <input type="radio" id="option3" name="answer" value="3">
                <label for="option3">Opción C</label>
            </div>
            
        </div>

        <div class="progress-container">
            <div class="progress-dots">
                <span class="dot active"></span>
                <span class="dot active"></span>
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <button class="next-button" onclick="window.location.href='actividades.html';">Finish</button>
        </div>
        
    </div>
</body>
</html>
