<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos curiosos</title>
</head>
<body>
    <h1 align="center"><strong>Datos curiosos de la fauna Colombiana</strong></h1>
    <p>La fauna de Colombia es increíblemente diversa debido a su geografía variada, desde selvas tropicales hasta montañas y costas. </p>
    <ol type="1">
        <li> Colombia es el país con más especies de aves: Tiene más de 1,900 especies registradas,lo que representa
             aproximadamente el 20% del total mundial. Es el hogar de especies icónicas como el cóndor de los Andes y el colibrí.</li>
        <li> Ranas venenosas: Colombia alberga algunas de las ranas más venenosas del mundo, como la rana dorada (Phyllobates terribilis).
             Su piel contiene suficiente veneno para matar a varios humanos.</li> 
        <li>El oso de anteojos: También llamado oso andino, es la única especie de oso en América del Sur y habita principalmente en los
             Andes colombianos. Es un animal clave en los ecosistemas de montaña y está en peligro de extinción.</li>
        <li> El delfín rosado del Amazonas: Este curioso delfín de agua dulce se encuentra en los ríos amazónicos de Colombia. Su color
             rosa lo hace único entre los cetáceos y es una de las especies más emblemáticas de la región amazónica.</li>
        <li>Mariposas: Colombia es también el país con la mayor diversidad de mariposas, con más de 3,700 especies conocidas, lo que
             representa cerca del 20% de las especies de mariposas a nivel mundial. </li>
        <li>El jaguar: Colombia es uno de los hábitats del jaguar, el felino más grande de América. Este majestuoso depredador juega un papel
             crucial en el equilibrio de los ecosistemas de la selva amazónica y otras regiones del país. </li>
        <li>Peces únicos: En los ríos colombianos se encuentran especies como el pez payaso (Hyphessobrycon herbertaxelrodi) y el pez piraña.
             Colombia tiene una de las mayores diversidades de peces de agua dulce en el mundo. </li>
        <li>El tapir andino: También conocido como danta, es el mamífero terrestre más grande de Colombia y se encuentra en los bosques húmedos
             de los Andes. Ayuda a dispersar semillas en las selvas donde habita.
        </li>
    </ol>
    <p>Colombia es uno de los países más biodiversos del planeta, lo que la convierte en un tesoro para los amantes de la naturaleza.</p>
    <p><a href="../indexFauna.html">Ir al incio</a></p>
</body>
</html>