<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos de fábulas</title>
</head>
<body>
    <h1>Tabla con ejemplos de fábulas</h1>
    <br>
    <table border="2">
        <tr>
            <td>
                <img src="../assets/Tio_tigre_tio_Conejo.webp" alt="Tío tigre y tío conejo">
            </td>
        </tr>
        <tr>
            <td align="center">
                <strong>Tío tigre y tío conejo</strong>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../assets/liebreytortuga.webp" alt="La liebre y la tortuga">
            </td>
        </tr>
        <tr>
            <td align="center">
                <strong>La liebre y la tortuga</strong>
            </td>
        </tr>
    </table>
    <br><br><br>
    <table align="center" border="2" bordercolor="pink">
        <tr><td colspan="2">Fábulas</td></tr>
        <tr>
            <td><strong>Imagen</strong></td>
            <td><strong>Titulo</strong></td>
        </tr>
        <tr>
                <td>
                    <img src="../assets/Tio_tigre_tio_Conejo.webp" alt="Tío tigre y tío conejo">
                </td>
                <td align="center">
                    <strong>Tío tigre y tío conejo</strong>
                </td>
        </tr>
        <tr>
                <td>
                    <img src="../assets/liebreytortuga.webp" alt="La liebre y la tortuga">
                </td>
                <td align="center">
                    <strong>La liebre y la tortuga</strong>
                </td>
        </tr>
    </table>
    <h3><a href="../index.html">Ir al incio</a></h3>
</body>
</html>