<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fauna Colombiana</title>
</head>
<body>
    <h1 align="center"> Las especies únicas de Colombia que debemos cuidar y proteger</h1>
    <p><strong>¿Sabías qué hay especies de animales y plantas que se encuentran exclusivamente en Colombia?</strong>
        Conoce estas maravillas y la grave amenaza que enfrentan.</p>
    <br>
    <h3 align="right"><strong>Fauna Colombiana</strong></h3>
    <img src="../assets/Diapositiva1.JPG" alt="fauna">
    <p> Colombia tiene una rica biodiversidad que incluye a más de <u> 8 mil especies endémicas que no se
            encuentran en ningún otro lugar del mundo.</u>
            <br>
            <br>
            Colombia se ubica como el tercer país con el mayor número de especies endémicas, después de Brasil e Indonesia.
            <strong><u>Regiones como la Amazonia, los Andes, los valles interandinos y el Chocó concentran el mayor número
                 de endemismos.</u></strong>
         </p>
    <h2>¿Cuáles son las especies endémicas de Colombia?</h2>
    <p>Algunas de las especies endémicas más reconocidas de Colombia son:</p>
    <ul type="circle">
        <li> Olinguito (Bassaricyon neblina)</li>
        <li>Mono araña colombiano (Ateles fusciceps rufiventris)</li> 
        <li>Tortuga Morrocoy (Chelonoidis carbonaria)</li>
        <li> Lagarto azul de Gorgona (Anolis gorgonae)</li>
        <li> Tití ornamentado (Callicebus ornatus)</li>
        <li>Cóndor de los Andes (Vultur gryphus) </li>
        <li> Oso de anteojos (Tremarctos ornatus)</li>
        <li> Príncipe de Arcabuco (Coeligena prunellei)</li>
        <li>  Ranita venenosa del valle del Cauca (Minyobates bombetes)</li>
        <li> Lagarto punteado (Diploglossus millepunctatus)</li>
        <li>Baobab barrigón o ceiba barrigona (Cavanillesia chicamochae) </li>    
    </ul>
    <td><a href="https://www.canalinstitucional.tv/especies-unicas-en-colombia-endemicas"> La información se extrajo de aquí</td>
    <h3><a href="../indexFauna.html">Ir al incio</a></h3>
</body>
</html>