<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opcion multiple</title>
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">


</head>
<body class="cuerpo_pregunta">

    <div class="texto_pregunta">
        <h2>Question</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros
            bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus 
            et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est
            euismod turpis, id tincidunt sapien risus a quam.
        </p>
        <p>
            Maecenas fermentum consequat mi. Donec fermentum. Pellentesque 
            malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut 
            dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam 
            arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis
            quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.</p>
    </div>


    <div class="pregunta">
        <p class="sub_titulo">2. Ligula eu tempor congue, eros esteuismod turpis, id tincidunt sapien risus a quam.</p>
        
        <form class="opcion_multiple">
            <label class="opcion">
                <input type="radio" name="opcion" value="opcion1">
                <p>Type 1</p>
            </label>
    
            <label class="opcion">
                <input type="radio" name="opcion" value="opcion2">
                <p>Type 2</p>
            </label>
    
            <label class="opcion">
                <input type="radio" name="opcion" value="opcion3">
                <p>Type 3</p>
            </label>
    
            <label class="opcion">
                <input type="radio" name="opcion" value="opcion4">
                <p>Type 4</p>
            </label>
        </form>
    </div>
    


    <div class="botones">
        <a href="../examenes/opcion_abierta.html" class="back-button">Back</a>
        <a class="next-button">Next</a>
    </div>

</body>
</html>


