<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Mi perfil</title>
    <link rel="stylesheet" href="/css/stylesUsuario.css">
</head>

<body>
    <header class="headerAzul">
        <a href="/actividades" class="login-btn">Actividades</a>
        <a href="/examenes" class="login-btn">Ex치menes</a>
        <a href="/perfil" class="login-btn">Mi perfil</a>
        <a href="/cerrarSesion" class="login-btn">Cerrar sesi칩n</a>
    </header>

    <div class="perfil">
        <div class="containerPerfil">
            <div class="tituloPerfil">
                <h2>Informaci칩n de tu perfil</h2>
                <button class="edit-btn" onclick="window.location.href='/editarPerfil';">Editar perfil</button>
            </div>
            <div class="profile-info">
                <p><span>Nombres:</span> <%= usuario.nombre %></p>
                <p><span>Apellidos:</span> <%= usuario.apellido %></p>
                <p><span>Correo electr칩nico:</span> <%= usuario.correo %></p>
            </div>
                     
        </div>
    </div>
</body>
</html>
