<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Ingeniera Sistemas</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <h1>INGENIERA SISTEMAS</h1>
        </header>

        <div class="caja-movible">
            <div class="caja foto-nombre">
                <img src="https://i.pinimg.com/originals/c6/a9/05/c6a90563dc9c842409ae451f7623f42f.png" alt="Foto de perfil">
                <h2>Laura Alejandra Rincón Castaño</h2>
            </div>

            <div class="caja datos-perfil">
                <p>Datos del perfil</p>
                <img src="https://bogota.gov.co/sites/default/files/inline-images/logosena.png" alt="Logo del SENA">
            </div>
        </div>
    </div>
</body>
</html>
