<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/iNTROactividades.css">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Gelasio:wght@400;700&display=swap" rel="stylesheet">
    <title>Present Simple</title>
</head>
<body>
    <div class="background">
        <h1 class="page-title">PRESENT SIMPLE</h1>

        <div class="card">
            <h2>Video Present Simple</h2>
            <hr>
            <!-- Nuevo rectángulo gris claro -->
            <div class="video-placeholder">
                <img src="../../assets/img/play-icon.png" alt="Icono de video">
            </div>
        </div>

        <!-- Botón de siguiente -->
        <button class="next-button" onclick="window.location.href='PreguntaActividades.html';">Practice</button>
    </div>
</body>
</html>