<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="../assets/css/stylesUsuario.css">
</head>
<body>
    <div class="login">
        <div class="containerLogIn">
            <div class="login-box">
                <h1>Iniciar Sesion</h1>
                <p>¡Inicia sesión y desata tu superpoder en inglés!</p>
                <form class="formRojo">
                    <input type="email" placeholder="Ingresa tu correo electrónico" required>
                    <input type="password" placeholder="Ingresa tu contraseña" required>
                    <button type="submit">Iniciar sesion</button>
                    <div class="links">
                        <a href="../views/recuperarCuenta.html">¿Olvidaste tu contraseña?</a>
                        <a href="../views/crearCuenta.html">Crear una cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
