<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Fluent</title>
    <link rel="stylesheet" href="../assets/css/stylesUsuario.css">
</head>

<body>
    <header class="header">
        <button class="menu-btn" onclick="window.location.href='#';">
            <img src="../assets/img/menu.png" alt="Button Menu">
        </button>
        <a href="../views/inicioSesion.html" class="login-btn">Iniciar sesión</a>
    </header>

    <div class="inicio">
        <div class="containerInicio">
            <h1>ENGLISH FLUENT WAY</h1>
            <p>Aprende inglés con <span>Luisa</span> de forma rápida y efectiva</p>
            <div class="informacion">
                <div class="hero-text">
                    <h3>¡La mejor forma de aprender inglés!</h3>
                    <p>Realiza actividades y exámenes de nivelación siempre disponibles online.<br>
                        ¡Mejora tus habilidades y avanza con nosotros!</p>
                </div>
                <div class="hero-form">
                    <form action="#" method="POST">
                        <input type="text" placeholder="Ingresa tu nombre" required>
                        <input type="email" placeholder="Ingresa tu correo electrónico" required>
                        <input type="tel" placeholder="Ingresa tu número celular" required>
                        <button type="submit">Solicitar más información</button>
                    </form>
                </div>
            </div>
            <section class="about-luisa">
                <div class="about-luisa-content">
                    <h2>Conoce a Luisa</h2>
                    <div class="about-luisa-details">
                        <img src="../assets/img/luisa.jpeg" alt="Luisa">
                        <div class="text-section">
                            <p>Hola, soy Luisa, profesora de inglés apasionada por ayudar a mis estudiantes a alcanzar sus metas. Ofrezco clases dinámicas y personalizadas para todos los niveles.<br></p>
                            <h3>Escríbeme por <a href="https://wa.me/573194188534">WhatsApp</a> y te cuento más.</h3>
                        </div>
                    </div>                    
                </div>
            </section>
        </div>  
    </div>
</body>

</html>
