/* ---------------------------------------------------------------------------- */
/* General Styles */


.login-btn {
    background-color: #e76e55;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #fff;
}

.hero-text {
    width: 50%;
}

.hero-text h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 36px;
    color: #E55551;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    color: #333;
}

.hero-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e76e55;
    border-radius: 5px;
}

.hero-form button {
    width: 100%;
    padding: 10px;
    background-color: #e76e55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-form button:hover {
    background-color: #c0392b;
}

.about-luisa {
    background-color: #f2f9fa;
    padding: 40px;
}

.about-luisa-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-luisa-content h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 28px;
    color: #25A6B3;
    margin-bottom: 20px;
}

.about-luisa-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-luisa-details img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.about-luisa-details p {
    font-size: 16px;
    color: #333;
}

.about-luisa-details a {
    color: #25A6B3;
    text-decoration: none;
}

.about-luisa-details a:hover {
    text-decoration: underline;
}
