
body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
}

.background {
    background-image: url('svg.png'); 
    background-size: 100% 50%; 
    background-position: top; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    display: flex; /* Utiliza flexbox para organizar el contenido */
    align-items: center; /* Alinea los elementos hijos en el centro vertical */
    justify-content: center; 
    flex-direction: column; 
}

.container {
    background-color: white; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    padding: 20px; /* Espacio interno del contenedor */
    max-width: 600px; 
    width: 90%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.page-title {
    position: absolute; 
    top: 50px; /* Distancia desde la parte superior */
    left: 50px; /* Distancia desde el lado izquierdo */
    color: #ffffff; 
    font-size: 58px; /* Tamaño del texto */
}

/* Título con variante en color rojo */
.page-title-red {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #E9322C;
    font-size: 58px;
}


.card {
    background-color: #f9f9f9; 
    border-radius: 10px; 
    padding: 15px; 
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    width: 85%; 
    min-height: 100px;
}

h2 {
    margin: 0; 
    color: #333; 
}

hr {
    border: none; 
    border-top: 1px solid #ccc; 
    margin: 10px 0; /* Espacio vertical alrededor de la línea */
}

p {
    margin: 10px 0; /* Espacio superior e inferior */
    color: #666; 
}

.next-button {
    display: block; /* Se comporta como un elemento de bloque */
    margin: 20px auto 0; 
    padding: 10px 20px; 
    background-color: #00bcd4; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; /* Muestra el puntero al pasar sobre el botón */
    font-size: 1em; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.next-button:hover {
    background-color: #008c9e; /* Color más oscuro al pasar el cursor */
}