* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../../img/fondo\ azul.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


h2{
    padding: 99px 0 0 63px;
}

p{
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 39px;
  }



.texto_pregunta{
    background-color: #E0E0E0;
    margin: 246px 51px 60px 51px;
    border-radius: 5%;
}

.pregunta{
    margin: 0px 177px 32px 177px;
}

.pregunta {
    margin: 0px 177px 32px 177px;
}


.pregunta p {
    font-size: normal;
    line-height: 1.5;
}

.opciones ol {
    list-style-type: none;
    padding-left: 0;
}

.opciones li {
    margin-bottom: 10px;
    font-size: 14px;
}

.opciones input[type="checkbox"] {
    margin-right: 10px;
}

.pregunta td {
    padding-bottom: 15px;
}

button {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #0097B2; 
    color: white;
}

.respuesta-texto{
    align-items: center;
}

button.next {
    margin: 20px 190px 108px 1104px;
}



