<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <title>Activities</title>
    <link rel="stylesheet" href="../../assets/css/estilosk/estilos.css">
</head>

<header class="header">
    <a href="../views/actividades.html" class="login-btn">Actividades</a>
    <a href="../views/examenes.html" class="login-btn">Exámenes</a>
    <a href="../views/perfil.html" class="login-btn">Mi perfil</a>
    <a href="../views/pantallaPrincipal.html" class="login-btn">Cerrar sesión</a>
</header>

<body class="cuerpo_pregunta">

 
    <div class="background">

        <div class="title-container">
            <h1 class="page-title">Examenes</h1>
            <button class="next-button" onclick="window.location.href='gestionar_examenes.html';" class="next-button">Gestionar Examenes</button>
        </div>

        <hr class="title-hr">        

        <div class="activities-container">
            <div class="activity-box" onclick="window.location.href='opcion_abierta.html';" style="cursor: pointer;">
                <p>Examen 1</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
            <div class="activity-box" onclick="window.location.href='opcion_multiple.html';" style="cursor: pointer;">
                <p>Examen 2</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
            <div class="activity-box" onclick="window.location.href='opcion_abierta.html';" style="cursor: pointer;">
                <p>Examen 3</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
            <div class="activity-box" onclick="window.location.href='opcion_multiple.html';" style="cursor: pointer;">
                <p>Examen 4</p>
                <img src="../../assets/img/play-icon.png" alt="Play icon">
            </div>
        </div>

        <div class="button-container">
            <button class="back-button" >Back</button>
        </div>
        
    </div>


</body>

</html>




