body {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: #000;
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 15pt;
    justify-content: center;
    background-image: url(https://png.pngtree.com/background/20210717/original/pngtree-gradient-jungle-cartoon-animal-background-picture-image_1437919.jpg);
}

p {
    color: rgb(2, 51, 16);
    text-align: justify;
}

table {
    width: 1100px;
    height: 200px;
    border: 5px dashed rgb(229, 255, 0);
    background-color: rgb(39, 152, 124);
    border-spacing: 30px;
}

h1 {
    color:rgb(5, 114, 36);
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap;
    vertical-align: bottom;
}

img {
    width: 800px;
    height: 200px;
    align-items: center;
}
